.main {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.main__weather {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0000009e;
    z-index: 1;
    padding: 1% 2%;
    border-radius: 10px;
    text-transform: capitalize;
}

.main__weather__place {
    font-size: 4rem;
    width: max-content;
}

.main__weather__date {
    font-size: 3rem;
}

.main__weather__current-weather {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main__weather__current-weather--temperature {
    font-size: 10rem;
}

.main__weather--icon {
    margin-bottom: 15%;
}

.main__weather__current-weather--description {
    justify-content: space-between;
    font-size: 1.3rem;
}

.main__weather__three-days-forecast {
    display: flex;
    justify-content: flex-start;
    z-index: 2;
    flex-direction: column;
    background-color: #0000009e;
    padding: 1% 3%;
    border-radius: 10px;
    height: 280px;
}

.main__weather__three-days-forecasts {
    display: flex;
    align-items: flex-end;
    font-size: 1.5rem;
}

.main__weather__three-days-forecast--icons {
    width: 80px;
    height: 80px;
}

.main__map {
    display: none;
    flex-direction: column;
    z-index: 1;
    align-items: flex-end;
    justify-content: flex-end;
}

.main__map--map {
   
}

.main__map__coords {
	position: relative;
    background: #0000009e;
    border-radius: .4em;
    padding: 2% 4%;
    width: 50%;
    margin-bottom: 7%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 7%;
        width: 0;
        height: 0;
        border: 1.031em solid transparent;
        border-top-color: #0000009e;
        border-bottom: 0;
        border-right: 0;
        margin-left: -0.516em;
        margin-bottom: -1.031em;
    }
}