.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    opacity: 0.7;
}

.header__nav__btns-group {
    display: flex;
    justify-content: space-between;
    width: 17%;
    height: 100%;
}

.header__nav__btn {
    width: 30px;
    height: 100%;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: rgba(0, 0, 255, 0.425);
        color: white;
    }
}

.header__nav__btns-group--lang {
    width: 60px;
}

.header__nav__search-field {
    height: 100%;
    display: flex;
}

.header__nav__search-field--input {
    height: 100%;
    border-radius: 4px 0 0 4px;
    padding: 0 5%;
}

.header__nav__search-field--btn {
    height: 100%;
    border-radius: 0 4px 4px 0;
    padding: 0 5%;
    width: max-content;
}